:root {
    --dark_cyan: hsl(185, 75%, 39%);
    --very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --dark_grayish_blue: hsl(227, 10%, 46%);
    --dark_gray: hsl(0, 0%, 59%);
    --kumbh: 'Kumbh Sans', sans-serif;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--kumbh);
    font-weight: 700;
}

body {
    background-image: url("../images/bg-pattern-top.svg"), url(../images/bg-pattern-bottom.svg);
    background-position: bottom 30vh right 40vw, top 40vh left 50vw;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--dark_cyan);
}
.bg-top{
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-10%);
}
.bg-down{
    width: 200px;
    height: 200px;
    background-image: url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100%;
    z-index: -2;
    position: absolute;
    transform: translateX(100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    max-width: 90%;
    margin: 0 auto;

    position: relative;
}

.card {
    background-color: white;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    margin-top: 30%;
    margin-bottom: 30px;
    position: relative;
}

.pictureStyle {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    width: 100%;
    display: block;
}

.profilePic {
    display: block;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    transform: translateY(-55px);
}

.marginTop {
    margin-top: 70px;
    text-align: center;
}

.lightHeading {
    font-weight: 400;
    color: var(--dark_gray);
}

.lightText {
    font-weight: 400;
    color: var(--dark_gray);
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

hr {
    width: 100%;
    color: var(--dark_gray);
    height: 1px;
    opacity: 0.3;
}

.flexRow {
    display: flex;
    justify-content: space-around;

}

.cardInfo {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 15px;
}

.cardInfo p {
    font-size: 13px;
    color: var(--dark_gray);
    margin-top: 7px;
    opacity: 0.8;
}

.attribution {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 680px){
    body{
        background-position: bottom 20vh right 50vw, top 50vh left 50vw;
    }
.card{
    margin-top: 18%;
}

}
@media only screen and (min-width:1000px){
    .card{
        margin-top: 10%;
    }
}